/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4; /* Light gray background color */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh;
}

form {
    margin-bottom: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

img {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow effect */
}

div {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* White background color */
    border: 2px solid #ddd; /* Border color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow effect */
    margin: 10px; /* Add margin to the div */
}

form {
    margin-bottom: 20px;
}

/* Style the file input */
form input[type="file"] {
    margin-top: 40px;
    padding: 10px;
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Change button background color on hover */
form input[type="file"]:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Add your custom styling here */
.photo-container, .grid-container {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: darkgreen;
}

header{
    text-align: center;
    background-color: #333; /* Adjust the background color as needed */
    /* color: white; */
    padding: 2%; /* Adjust the padding as needed */
    margin: 0;
    width: 100%;
    font-size: 70px;
    color: aquamarine;
    box-shadow:10px 10px 5px 5px rgba(0, 0, 0, 0.7);
    /* font-style: ; */
}

